* {
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  padding: 20px;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

header {
  background-color: lightgrey;
  text-align: center;
  margin: 0;
}

nav {
  display: table;
  width: 100%;
  background: #E0E0E0;
}

nav > ul {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: block;
  margin: 10px 0;
}

.container {
  width: 100%;
  height: 100vh;
  border: 15px solid black;
  margin: 20px 0;
}
.color-area {
  border: 8px solid #c8c893;
  padding: 0 10px;
  background-color: rgb(237, 237, 222);
}

.left {
  border: 12px solid grey;
  background-color: grey;
  float: left;
  width: 60%;
  height: 100%;
}

.right {
  background-color: grey;
  padding: 10px 10px;
  float: right;
  width: 40%;
  height: 100%;
}

.right > ul {
  height: 85%;
}

.right .right-area h2 {
  border: 8px solid #c8c893;
  background-color: rgb(237, 237, 222);
}

.right > ul {
  border: 8px solid #c8c893;
  background-color: rgb(237, 237, 222);
}
.image-area {
  height: 100%;
}
.image {
  display: inline-block;
  width: 32.81%;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border: 5px solid #c8c893;
  margin: 10px 0;
  background-color: rgb(237, 237, 222);
  padding: 70px 0;
  height: 40%;
}

h2 {
  text-align: center;
  margin: 0;
}

.right h2 {
  border: 1px solid #FFFFCC;
}

footer {
  background-color: lightgrey;
}

footer > .text {
  text-align: center;
  padding: 40px 0;
}